.main-nav {
  padding-bottom: 21px;
}

.main-nav__toggle {
  @include size(54px, 24px);
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;


  &:hover,
  :focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
  }


  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
