.main-nav {
  @include size(17.85%, 24px);
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
  padding: 21px 0;

  @media (min-width: $tablet-width) {
    @include size(8%, 40px);
    padding: 43px 0;
  }

  @media (min-width: $desktop-width) {
    @include size(65.59%, 95px);
    padding: 49px 0;
  }
}

.main-nav__toggle {
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;


  &:hover,
  :focus {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__list {
  display: none;


  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
