.main-title {
  margin-top: -116px;
  padding: 152px 0 143px;
  background-color: $color-bg__black-opacity;
  background-image: url("../img/back-mobile.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: 100%;
  color: $white;
  text-align: center;
  line-height: 33px;
}
