.pics__text {
  @include font(400, 14px, 30px);
  text-align: center;
  padding: 54px 0 60px;
}

.pics__text-conclusion {
  @include font(400, 14px, 30px);
  text-align: center;
  padding: 49px 0 52px;
}
