@mixin size($width, $height) {
  width: $width;
  height: $height;
}

@mixin ul() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin a() {
  text-decoration: none;
  color: $white;
}

@mixin font($weight: 300, $size: 24px, $height: 29px) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin font-size($size: 24px, $height: 29px) {
  font-size: $size;
  line-height: $height;
}
